<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='../../public/assets/css/main.css' rel="stylesheet"> <!--Lembrar de colocar {{ }}-->
        <link href='../../public/assets/css/carousel.css' rel="stylesheet"> <!--Lembrar de colocar {{ }}-->
        <link href='../../public/assets/css/form.css' rel="stylesheet"> <!--Lembrar de colocar {{ }}-->

        <title>Main Page - @yield('page-title')</title>

        <!--Fonts-->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400;700;900&display=swap');
        </style>

        <!--<link rel="stylesheet" href="{{URL::asset('assets/css/bootstrap.min.css')}}">
        <script type="text/javascript" src="{{URL::asset('assets/js/jquery.min.js')}}"></script>-->
    </head>
    <body>
        <header class="transition">
            <div class="user-info">
                <img class="unselectable" src="../../public/assets/Icons/account_circle_black_48dp.svg">
                <h2 class="unselectable">Placeholder name</h2>
                <h2 class="unselectable">Placeholder cargo</h2>
            </div>
            <nav>
                <ul class="header-extra">
                    <li class="transition"><a href=""><h2>Membros</h2></a></li>
                    <li class="transition"><a href=""><h2>Cadastrar Usuários</h2></a></li>
                </ul>
            </nav>
        </header>
        <section class="values-container">
            <h1>A EcompJr</h1>
            <div class="flex-row carousel-box">
                <div class="values-box transition">
                    <div class="values">
                        <div class="values-title">
                            <h3>Missão</h3>
                            <img class="unselectable" src="../icons/book_FILL0_wght400_GRAD0_opsz48.svg">
                        </div>
                        <p>
                            Através da vivência empresarial e 
                            trabalho em equipe, formar profissionais
                            <b>inovadores</b>,<b>comprometidos</b> e <b>capazes 
                            de vencer desafios juntos.</b>
                        </p>
                    </div>
                </div>
                <div class="values-box transition">
                    <div class="values">
                        <div class="values-title">
                            <h3>Valores</h3>
                            <img class="unselectable" src="../icons/insights_FILL0_wght400_GRAD0_opsz48.svg">
                        </div>
                        <p>
                            Ser uma empresa que realiza <b>projetos de
                            impacto</b>, mais <b>conectada ao movimento
                            empresa júnior</b> e com grande reconhecimento
                            <b> dentro e fora</b> da universidade.
                        </p>
                    </div>
                </div>
                <div class="values-box transition">
                    <div class="values">
                        <div class="values-title">
                            <h3>Visão</h3>
                            <img class="unselectable" src="../icons/visibility_FILL0_wght400_GRAD0_opsz48.svg">
                        </div>
                        <p>Os valores de uma empresa guiam a conduta da 
                            mesma. Portanto, a EcompJr baseia-se nos 
                            seguintes valores: <b>Protagonismo, 
                            Cooperatividade, Assiduidade, Resiliência,
                            Constância em resultados, Evolução com os erros,
                            Conexão com o Movimento, Foco na Qualidade, Ética
                            e Empatia.</b>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>